Repository GoogleCloudPlatform/datacatalog-connectors-bi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, looker2datacatalog, tableau2datacatalog, test

ADD file to trigger CI
  looker2datacatalog/trigger.ci
Labels: looker2datacatalog

ADD badge to README.md file
  README.md
Labels: repo

ADD badge to README.md file (#6)
  README.md
Labels: repo

FIX typo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

ADD TOC to README.md
  looker2datacatalog/README.md
  tableau2datacatalog/README.md
Labels: looker2datacatalog, tableau2datacatalog

FIX flake8 issue, after flake8 update
  tableau2datacatalog/src/google/datacatalog_connectors/tableau/scrape/metadata_api_constants.py
Labels: tableau2datacatalog

ADD TOC to README.md (#7)
  looker2datacatalog/README.md
  tableau2datacatalog/README.md
  tableau2datacatalog/src/google/datacatalog_connectors/tableau/scrape/metadata_api_constants.py
Labels: looker2datacatalog, tableau2datacatalog

ADD looker changes
  google-datacatalog-looker-connector/Dockerfile
  google-datacatalog-looker-connector/README.md
  google-datacatalog-looker-connector/setup.py
  google-datacatalog-tableau-connector/README.md
Labels: none

Update docs
  google-datacatalog-looker-connector/README.md
Labels: none

Update docs
  google-datacatalog-looker-connector/README.md
Labels: none

Update docs
  google-datacatalog-looker-connector/README.md
  google-datacatalog-tableau-connector/README.md
Labels: none

UPDATE github actions
  .github/workflows/pythonpackage.yml
Labels: none

FIX commented lines
  google-datacatalog-looker-connector/src/google/datacatalog_connectors/looker/prepare/assembled_entry_factory.py
  google-datacatalog-looker-connector/src/google/datacatalog_connectors/looker/sync/metadata_synchronizer.py
Labels: none

ADD badges
  google-datacatalog-looker-connector/README.md
  google-datacatalog-tableau-connector/README.md
Labels: none

ADD badge
  google-datacatalog-looker-connector/README.md
  google-datacatalog-tableau-connector/README.md
Labels: none

FIX flake8 issue
  google-datacatalog-looker-connector/src/google/datacatalog_connectors/looker/sync/metadata_synchronizer.py
Labels: none

Update README.md
  google-datacatalog-tableau-connector/README.md
Labels: none

FIX error where it would always return empty metadata
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/scrape/metadata_api_constants.py
Labels: none

Increment bug fix
  google-datacatalog-tableau-connector/setup.py
Labels: none

ADD newline at end of file
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/scrape/metadata_api_constants.py
Labels: none

FIX wrong formatting
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/scrape/metadata_api_constants.py
Labels: none

Fix/error empty metadata (#13)
  google-datacatalog-tableau-connector/setup.py
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/scrape/metadata_api_constants.py
Labels: none

ADD system-tests
  google-datacatalog-looker-connector/cloudbuild.yaml
  google-datacatalog-looker-connector/system_tests/assert.sh
  google-datacatalog-looker-connector/system_tests/cleanup.sh
  google-datacatalog-looker-connector/system_tests/cleanup_results_test.py
  google-datacatalog-looker-connector/system_tests/execution_results_test.py
  google-datacatalog-tableau-connector/cloudbuild.connector.yaml
  google-datacatalog-tableau-connector/system_tests/cleanup.sh
Labels: none

FIX line
  google-datacatalog-looker-connector/cloudbuild.yaml
  google-datacatalog-tableau-connector/cloudbuild.connector.yaml
Labels: none

FIX namespace name
  google-datacatalog-looker-connector/tools/cleanup_datacatalog.py
Labels: none

Remove dependency
  google-datacatalog-looker-connector/tools/cleanup_datacatalog.py
Labels: none

FIX credentials path
  google-datacatalog-looker-connector/cloudbuild.yaml
Labels: none

FIX get query generated sql error
  google-datacatalog-looker-connector/src/google/datacatalog_connectors/looker/sync/metadata_synchronizer.py
Labels: none

Increment patch version
  google-datacatalog-looker-connector/setup.py
Labels: none

Looker - FIX/get query error (#16)
  google-datacatalog-looker-connector/setup.py
  google-datacatalog-looker-connector/src/google/datacatalog_connectors/looker/sync/metadata_synchronizer.py
Labels: none

Increase timeout
  google-datacatalog-looker-connector/cloudbuild.yaml
Labels: none

ADD timeout to step
  google-datacatalog-looker-connector/cloudbuild.yaml
Labels: none

FIX ci command
  google-datacatalog-looker-connector/cloudbuild.yaml
Labels: none

FIX ci command
  google-datacatalog-looker-connector/cloudbuild.yaml
Labels: none

Remove timeout on step and update docs
  google-datacatalog-looker-connector/cloudbuild.yaml
  google-datacatalog-looker-connector/system_tests/assert.sh
  google-datacatalog-looker-connector/system_tests/cleanup.sh
Labels: none

UPDATE system-tests connectors path (#18)
  google-datacatalog-looker-connector/cloudbuild.yaml
  google-datacatalog-looker-connector/system_tests/assert.sh
  google-datacatalog-looker-connector/system_tests/cleanup.sh
  google-datacatalog-looker-connector/system_tests/cleanup_results_test.py
  google-datacatalog-looker-connector/system_tests/execution_results_test.py
  google-datacatalog-looker-connector/tools/cleanup_datacatalog.py
  google-datacatalog-tableau-connector/cloudbuild.connector.yaml
  google-datacatalog-tableau-connector/system_tests/cleanup.sh
Labels: none

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Use BaseEntryFactory id and display name formatters
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/prepare/constant.py
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/prepare/datacatalog_entry_factory.py
  google-datacatalog-tableau-connector/tests/google/datacatalog_connectors/tableau/prepare/datacatalog_entry_factory_test.py
Labels: none

Replace super() method calls with cls calls
  google-datacatalog-tableau-connector/src/google/datacatalog_connectors/tableau/prepare/datacatalog_tag_factory.py
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
  
looker2datacatalog:
  - looker2datacatalog/*
  - looker2datacatalog/**/*

tableau2datacatalog:
  - tableau2datacatalog/*
  - tableau2datacatalog/**/*

# Add 'test' label to any change to test.py files
test:
  - ./**/*.test.py
